@import 'utilities/steam-colors';
@import 'components/navbar';
@import 'components/game-card';
@import 'components/carousel';
@import 'components/buttons';
@import 'utilities/custom-utilities';

body {
    background-color: var(--steam-dark);
    color: var(--steam-text);
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
}